.nav__order,
.nav__socials {
    display: none;
}
.footer_links img {
    display: none;
}


@media screen and (max-width: 800px) {
    .show_menu span:nth-child(2) {
        width: 15px;
        left: 10px;
    }

    .contact_us-footer .footer_links {
        margin-bottom: 5px;
    }
    .contact_us-footer .footer_links li {
        margin-bottom: 0;
        margin-right: 0;
    }
    .footer_links li:first-child a,
    .footer_links li:nth-child(2) a {
        font-size: 0;
    }
    .footer_links li:nth-child(3) {
        min-width: 100%;
        text-align: left;
    }
    .footer_links img {
        display: block;
        margin: 0 0 0 -8px;
    }
    .contact_us-footer .footer_links {
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .contact_us_contacts h3 {
        margin-bottom: 14px;
    }
    .contact_us_contacts {
        margin-bottom: 20px;
    }
.contact_us_contacts.select-arrow-active_con {
   
    margin-top: 66px;
}
    .header {
        transition: background-color ease 0.4s;
    }
    nav {
        transition: background-color,padding ease 0.4s;
        padding: 0;
        top: -100vh;
    }
    .header.active {
        background-color: #1f6239;
        transition: background-color ease 0.4s;
    }
    nav.active {
        background-color: #1f6239;
        min-height: calc(100vh - 66px);
        padding: 25px 0;
        transition: background-color, padding ease 0.4s;
    }
    .nav li {
        text-align: left;
    }
    .nav li a {
        font-size: 18px;
        padding: 0 30px;
        color: #fff;
    }
    .header-equipment .nav a, .header-plus .nav a,
    .header-equipment .nav a.active, .header-plus .nav a.active,
    .header-pyrolysis .nav a.active,
    .header-about .nav a.active,
    .header-equipment .nav a {
        color: #fff;
    }
    .nav__socials {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 20px;
    }
    .nav__order {
        display: block;
        padding: 30px 30px 0;
    }
    .nav__order .btn {
        display: block;
        max-width: 360px;
        margin: 0;
        color: #fff;
        border-color: #4ba04f;
        background: #4ba04f;
        opacity: 1;
        pointer-events: all;
    }
    .nav__order .btn:before {
        display: none!important;
    }
}
@media screen and (max-width: 600px) {
    .content {
        padding-bottom: 20px;
    }
    .offer .img-parallax {
        margin: 50px 0 0 10px;
		display: none;
    }
    .equipment_img img {
        margin: 0;
    }
    .equipment_step-4 .equipment_img img {
        margin: 0 0 0 15px;
    }
    .offer_desc {
        margin-bottom: 190px;
    }
    .equipment .content {
        padding-top: 70px;
    }
    .equipment_step-1 .equipment_text,
    .equipment_step-2 .equipment_text,
    .equipment_step-3 .equipment_text,
    .equipment_step-4 .equipment_text,
    .equipment_step-5 .equipment_text {
        padding-left: 15px;
    }
    .equipment_step-2 .equipment_text p {
        max-width: 220px;
    }
    .equipment_text h2 {
        font-size: 28px;
    }
    .equipment_text p.fadeLeft {
        font-size: 16px;
    }
    .equipment_link {
        left: 25px;
    }
    .equipment_text .btn {
        font-size: 13px;
        padding: 5px 25px;
        border-radius: 5px;
        bottom: 6px;
    }
    .btn-bordered:before {
        border-radius: 0;
    }



    .pyrolysis h2 {
        padding-left: 15px;
        margin-bottom: 220px;
    }

    .technologies_desc {
        font-size: 18px;
    }
    .technologies_img {
        top: 200px;
    }
    .advantage_fuel_item {
        margin-left: 15px!important;
    }
    .advantage_fuel_item h4 {
        font-size: 18px!important;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    .advantage_fuel_item p {
        max-width: 240px;
        margin-left: 10px;
    }

    .plus_step_content {
        align-self: flex-start;
        padding-left: 15px;
    }
    .plus_heading {
        padding-left: 15px;
    }


    .about h2 {
        top: 100px;
        left: 15px;
    }

    .about_text h3 {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .about_text p {
        font-size: 16px;
    }
    .about_text {
        margin: 15px 0;
    }
}

/* iphone 4 fix */
@media screen and (max-height: 480px) {
    .offer_desc {
        margin-bottom: 130px;
    }

    .equipment .content {
        padding-top: 60px;
    }
    .equipment_step {
        padding-bottom: 0;
    }

    .equipment_text {
        margin-bottom: 60px;
    }

    .equipment_text p.fadeLeft {
        font-size: 14px;
    }

    .equipment_text .btn {
        bottom: -12px;
    }

    .equipment_step-5 .equipment_text {
        margin-bottom: 80px;
    }

    .equipment_step-4 .equipment_img img,
    .equipment_step-5 .equipment_img img {
        height: 188px;
    }

    .pyrolysis h2 {
        margin-bottom: 160px;
    }


    .pyrolysis_step-3 h3,
    .pyrolysis_step-4 h3 {
        margin-left: 15px;
    }

    .pyrolysis_step-3 h3:before,
    .pyrolysis_step-4 h3:before {
        left: 77%;
        height: 81px;
    }

    .pyrolysis_step-5,
    .pyrolysis_step-6 {
        padding-top: 45px;
    }

    .pyrolysis_step-5 h3,
    .pyrolysis_step-6 h3 {
        margin-left: 15px;
    }
    .pyrolysis_step-5 h3:before {
        left: 70%;
        height: 98px;
    }
    .pyrolysis_step-6 img {
        transform: translateY(85px);
        margin-left: -210px;
    }
    .pyrolysis_step-7,
    .pyrolysis_step-8 {
        padding-top: 45px;
    }
    .pyrolysis_step-7 h3,
    .pyrolysis_step-8 h3 {
        margin-bottom: 110px;
    }
    .pyrolysis_step-9,
    .pyrolysis_step-10 {
        padding-top: 30px;
    }
    .pyrolysis_step-9 h3, .pyrolysis_step-10 h3 {
        max-width: 200px;
    }
    .pyrolysis_step-11 img,
    .pyrolysis_step-12 img {
        transform: translate(8px,80px);
    }
    .pyrolysis_step-11 h3,
    .pyrolysis_step-12 h3 {
        margin-left: 80px;
        max-width: 200px;
        margin-top: -33px;
    }
    .pyrolysis_step-13 h3,
    .pyrolysis_step-14 h3 {
        margin-left: 140px;
        max-width: 200px;
        margin-top: -190px;
    }
    .pyrolysis_step h3 {
        font-weight: 100;
    }
    .pyrolysis_step-14 img {
        margin-top: 20px;
    }
    .pyrolysis_step-14 h3 {
        transform: translate(0, -25px);
    }
    .advantage_fuel {
        bottom: 20px;
    }
    .plus_step {
        top: 80px!important;
    }
    .plus_step2 .plus_step_content {
        margin-bottom: 20px;
    }
    .plus_step7 img {
        top: -30px;
        max-width: 260px;
        position: relative;
    }
    .plus_step8 .plus_step_content {
        margin-bottom: 20px;
    }
    .about .content {
        padding-top: 100px;
    }
    .technologies {
        padding-top: 110px;
    }
}

@media screen and (max-width: 400px) {
    .plus_step7 .plus_step_content h2 {
        max-width: 200px;
    }
    .plus_step7 .plus_step_content p {
        max-width: 250px;
    }
    .plus_step5 .plus_step_img img {
        max-width: 135%;
        transform: translate(-13%, 0px);
    }
    .pyrolysis_step-3 img,
    .pyrolysis_step-4 img {
        margin-left: -240px;
    }
    .pyrolysis_step-7 img,
    .pyrolysis_step-8 img {
        transform: translateY(-30px);
    }
    .pyrolysis_step-15 img {
        transform: translate(30px,-35px);
    }
    .pyrolysis_step-15 h3 {
        margin-left: 70px;
    }
    .technologies_desc {
        top: 50px;
    }
}